.appointment-form {
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.appointment-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.appointment-form input,
.appointment-form select,
.appointment-form button {
  width: calc(100% - 20px); /* Adjust width to account for padding */
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.appointment-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.appointment-form button:hover {
  background-color: #45a049;
}

