/* homepage styling */
.homepage {
  text-align: center;
  /* margin-top: 50px; */

  background-image: url('../Images/bg.jpg');
  background-size: cover;

  height: 100vh;
  
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.homepage-container {
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.homepage-column {
  padding: 0px 10px;
  display: flex;
  flex-direction: column; 
  justify-content: space-around; 
  align-items: center; 
  flex: 1; /* Adjusts the width to take up an equal portion of the .container */

  
}

.homepage-column img{
  max-width: 80%;
  max-height: 80%;
  height: auto;
}

.homepage-button {
  background-color: white;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;    /* 4px 2px; */
  transition-duration: 0.2s;
  cursor: pointer;
  border: 2px solid #f1f1f1;
  border-radius: 8px;
  width: 200px; /* Set equal width for all buttons 180*/
  height: 50px;
  font-weight: bold;
}

.homepage-button:hover {
  color: #0152c2;
  box-shadow: 0px 0px 20px 5px #b0d6ff;
}


/* Portal Styling */
.multi-page {
  text-align: center;
  /* margin-top: 50px; */
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

.button-container {
  /* margin: 10px; */
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

}

.button-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portal-button {
  background-color: white;
  color: #333;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;    /* 4px 2px; */
  transition-duration: 0.2s;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 8px;
  width: 300px; /* Set equal width for all buttons 180*/
  height: 100px;
}

.portal-button:hover {
  font-weight: bold;
  color: #007bff; /* Text color on hover (blue) */
  border: 3px solid #007bff; /* Border color on hover (blue) */
}


