.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup .popup-content {
    background: white;
    padding: 30px;
    border-radius: 5px;

    width: 30%;
    /* height: 50%; */
    text-align: start;
}

.popup .popup-header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.popup .popup-header h2 {
    margin: 10px 0px;
}

.popup .popup-header .close-button {
    height: 50%;
}

.popup p {
    margin: 10px 0px;
}

.popup .popup-decision {
    display: flex;
    justify-content: space-evenly;
}

.popup .popup-decision .approve-button {
    background-color: white;
    color: #0152c2;
    padding: 10px;
    text-align: center;
    margin: 10px 20px;
    cursor: pointer;
    border: 2px solid #0152c2;
    border-radius: 5px;
    width: 100px;
}

.popup .popup-decision .approve-button:hover {
    background-color: #0152c2;
    color: white;
}

.popup .popup-decision .disapprove-button {
    background-color: white;
    color: red;
    padding: 10px;
    text-align: center;
    margin: 10px 20px;
    cursor: pointer;
    border: 2px solid red;
    border-radius: 5px;
    width: 100px;
}

.popup .popup-decision .disapprove-button:hover {
    background-color: red;
    color: white;
}